#navbar,
#navbar ul {
    list-style: none;
}
#navbar {
    float: left;
}
#navbar > li {
    float: left;
}
#navbar li a {
	display: block;
    height: 2em;
    line-height: 2em;
    padding: 0 1.5em;
    text-decoration: none;
    color: #000;
}
#navbar ul {
    position: absolute;
    display: none;
    z-index: 999;
}
#navbar li:hover ul {
    display: block;
}

/* Main menu
------------------------------------------*/
#navbar {
	text-align: center;
}
 
/* Submenu
------------------------------------------*/
#navbar ul {
    background: #b5e853;
}
#navbar ul li {
    color: #000;
}
#navabr ul li:hover {
    background: #a1c03f;
}
