#navbar, #navbar li ul {
	position: relative;
	margin: 0;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}

#navbar li {
	display: inline;
	padding: .2em 1em;
}

#navbar li a {
	text-decoration: none;
	color: #fff;
}

#navbar li:hover {
	color: #000;
	background-color: #b5e853;
}

#navbar li ul {
	display: none;
	background-color: #b5e853;
	position: absolute;
	top: 30px;
	left: 0px;
}

#navbar li:hover > ul {
	display: block;
}

#navbar li ul li:hover {
	background-color: #a1c03f;
}

#navbar li ul li a {
	text-decoration: none;
	color: #000;
}
