#navbar {
	margin: 0;
	padding: 5px;
	list-style-type: none;
	text-align: center;
}

#navbar li {
	display: inline;
	padding: .2em 1em;
}

#navbar li a {
	text-decoration: none;
	color: #fff;
}

#navbar li:hover {
	color: #000;
	background-color: #b5e853;
}

#navbar li ul {
	display: none;
}

#navbar li:hover > ul {
	display: block;
}
